<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <% const name = 'Mwai Banda' %>
    <h1><%= name %>'s Blog</h1>
    <%- include("./components/nav.ejs")%>  
    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach((blog) => { %>
                <h3><%=blog.title%></h3>
                <p><%=blog.snippet%></p>
            <%})%>
        <%}%>
    </div>
    <%- include("./components/footer.ejs")%>  
</body>
</html>